body{
  margin: 0;
}
.container{
  background-color: #252424;
  width: 100%;
  height: 100vh;
  position: absolute;

}
.seccion-header{
  color: white;
  text-align: center;
  font-family: "Arial";
  font-size: 20px;
  width: 100%;
  height: 7%;
  padding-top: 2%;
  padding-bottom: 1%;
}
.seccion-menu{
  padding-top: 6px;
  background-color: white;
  border-radius: 2px;
  width: 100%;
  height: 10%;
  margin: 0 auto;

}
.seccion-menu ul li{
  display: inline;
  padding-right: 30px;
  margin-bottom: 20px;
}
.content{
  margin-top: 20px;

}
.column-3{
  width: 32%;
  display: inline-block;
  border: 1px solid white;
  vertical-align: top;

}
.tarjeta__arriba{
  background-color: orange;
  overflow: auto;
}
.fotito{
  float: left;
  width: 25%;
  height: 30%;
}

.tarjeta__abajo{
  display: inline;
  background-color: white;
}
.cabecera{
text-align: center;
background-color: #25B6DE;
color: white;
}
.cabecera>h2{
  margin: 0;
}
.seccion-llenado{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-position: center;
  background-color: white;
}

.llenado__box_text{}
.caja, .boton{
  display: block;

}
.box-text{

}
