body{
  margin: 0;
  background-color: gray;
  }
.Container{
  background-color:  #252424;
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

.seccion__header{
  text-align: center;
  color: white;
  font-family: "Arial";
  font-size: 30px;
  padding-top: 10px;
}

.seccion__menu{
  background-color: white;
  border-radius: 2px;
  color: black;
  padding: 10px;
  font-family: "Arial";
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: bold;
}

ul>li{
  display: inline;
  margin-right: 15px;
}

.seccion__content{
text-align: center;
vertical-align: top;
}

.Column1{
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;


}
.tarjeta{

}
.tarjeta__arriba{
  background-color: orange;
  overflow: auto;
  color: white;
}

.foto1{
  width: 35%;
  height: 20%;
  float: left;
  margin: 23px 23px 23px 23px;
}

.tarjeta__nombre, .tarjeta__titulo{
  text-align: left;
  font-family: "Arial";
  font-weight: bold;
}
.tarjeta__nombre{
  padding-top: 15px;
  font-weight: bold;
  font-size: 30px;

}
.tarjeta__abajo{
  display: flex;
  background-color: white;
  text-align: center;
  color: gray;
}
.maletita{
  border-right: 2px solid gray;
}
.foto2{
  width: 15%;
  height: 45%;
}
.cartita{

}

.perfil{
border-left: 2px solid gray;
}
.maletita, .cartita, .perfil{
  font-size: 13px;
}

.Mapa{
  height: 400px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Mapa>iframe{
  height: 100%;
  width: 100%;
}
.seccion__llenado1{
}
.seccion__login{
  margin-bottom: 20px;
}
.llenado4{
  background: white;
margin: 0 auto;
}
.caja3{
  border-bottom: 1px solid #DFE4E4;
  display: flex;
  padding-left: 15px;
}

.menu__box{

}
.caja4{
  text-align: left;
  padding: 18px 0px  5px 5px;
  width: 45%;
  font-family: "Arial";
}
.c5{
  font-family: "Arial";
  text-align: right;
  width: 45%;
  padding: 18px 5px 5px 0px;
}

/*segunda columna*/
.seccion__subscribe{
margin-bottom: 20px;
}

.encabezado{
  color: white;
  background-color: #25B6DE;
  padding: 0px 15px 0px 15px;
}
.encabezado>h2{
  margin: 0;
  font-family: "Arial";
  padding: 13px 0px 13px 0px;
  font-size: 20px;
}

.seccion__llenado2{
}

.llenado__text{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px

}
.llenado__text>h5{
  margin: 0;
  padding: 4px 0px 8px 45px;
  text-align: left;
  color: #A8ABAB;
  font-family: "Arial";
}
.caja{
height: 40px;
}
.caja2{
  width: 85%;
  height: 20px;
  background-color: orange;
  border: 1px solid orange;
}

.boton{

  background-color: orange;
  border: 1px solid orange;
  color: white;
  font-family: "Arial";
  font-size: 18px;
  padding: 9px 0px 9px 0px;

}

.caja, .boton{
  display: block;
  margin: 0 auto;
  width: 80%
}

.cajatype2{
  width: 10px;
  height: 5px;
}

.Calendario{
  margin-top: 20px;
  padding-bottom: 40px;
  background-color: white;
  margin-bottom: 20px;

}
.cal1 {
    background: #fff;
    min-height: 250px;
    margin: 20px 0px;
}

.month{
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
  font-family: "Arial";
  background-color: #03a9f4;
  margin-bottom: 30px;
  color: white;
  font-size: 20px ;
}
.clndr-table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    color: gray;
    font-family: "Arial";
}
table {
    background-color: transparent;

}
table {
    border-spacing: 10%;
    border-collapse: collapse;
}
.Lines{
}
.Lc{
  padding: 27px 27px 20px 27px;
}
.Bc1{
  border: 2px solid #07cbc9;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  color: #07cbc9;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
}
.Bc2{
  border: 2px solid #fc3955;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  color: #fc3955;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
}
/*Tercera Columna*/
.Rectangles{
}
.Celda{
  margin: 0 auto;;
  background-color: #1E90D5;
  height: 28px;
  color: white;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Arial";
  font-size: 15px;
  padding: 8px 0px 2px 0px;
}

.Clima{

}
.Pronostic{
}

.Puente>img{
  width: 100%;
  height: 200px;
  margin: 0;
}

.weather-bottom {
  margin: 0;
  background-color: orange;

}
.weather-bottom-wthree {
  background-color: orange;
  color: white;
  width: 25%;
  float: left;
  text-align: center;
  padding: 5px 0px;
  font-family: "Arial";
}

.Video_Migatte{
margin-top: 165px;
margin-bottom: 20px;
}
video{
 height: 40%;
 width: 100%;
}
.Chart{
  background: white;
}
.Circle{
  padding: 18px 0px 18px 0px;

}
.circulo{
  padding-top: 20px;
  border-top: 4px solid #fc3955;
  border-bottom: 4px solid #fc3955;
  border-right: 4px solid #fc3955;
  border-left: 4px solid #D8D8D1;
  width: 170px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
}
.circulo>p{
  font-family: "Arial";
  font-size: 25px;
}/*Fin de columnas*/

/*Redes sociales*/
.Redes{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.Redes>img{
  width: 130px;
  height: 120px;
  padding-right: 20px;
}
.FinxD{
  margin-top: 50px;
  color: white;
  text-align:center;
  font-family: "Arial";
  font-size: 18px;
}
