body{
margin: 0;
}

.content{
  background-color: #870000;
  padding: 0% 10% 0% 10%;
  color: white;
  width: 80%;
  height: 80%;

}
.seccion__encabezado{
  padding: 15px 0px 15px 0px;
}
.Logo{
  font-size: 60px;
}
.seccion__menu{
  background-color: #6A0000;
  padding: 10px 0px 10px 0px;
  border-radius: 2px;
  margin-bottom: 20px;
}
ul>li{
  display: inline;
  padding: 40px 0px 40px 40px;
  font-family: "Arial";
}
.Logo, .Logo2{
  display: inline;
}
.seccion__publicidad{
  background-color: #65F86D;
  padding:26px;
  margin-bottom: 20px;
}
.seccion__publicidad>img{
  width: 150px;
  height: 180px;
  float: left;
  margin-right: 45px;
  margin-left: 30px;;

}
.Pt{
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
}
.Pt2{
  font-size: 20px;
  margin-right: 100px;
}
.seccion__contenido{
  display: flex;
  font-family: "Arial";
}
.Us{
  background-color: #A9CCE3;
  width: 20%;
}
.Us{
  padding-top: 3%;
}
.M1{
  margin: 0 auto;
  width: 60%;
  color: White;
  border-bottom: 1px solid white;
  font-family: "Arial";
  font-size: 18px;
  margin-bottom: 5%;
  padding-bottom: 2%;
  font-weight: bold;
}
.How{
  background-color: white;
  width: 80%;
  border: 2px solid white;
  color: black;
  padding: 4% 4% 23% 4%;

}
.How>h1{
  margin: 0;
  color: #2874A6;
}
.How>p{
  font-size: 18px;
}
