body{
  margin: 0;
}
.content{
  background-color: #870000;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 4px 0px 40px;
  color: white;


}
.hola{
  width: 22%;
  font-size: 60px;
    border: 2px solid white;
    padding: 0;
}
.hola2{
  width: 78%;

}
.encabezado{
  border: 2px solid white;
display: flex;


border: 2px solid white;
}

.menu, .publicidad, .Cuerpo-Text{
  margin: 0 auto;
}
.menu{
  background-color:  #6A0000;
  width: 79%;

}
ul>li{
  display: inline;
  margin-right: 40px;
}
.publicidad{
  background-color: #65F86D;
  width: 70%;
  height: 25%;
  padding: 30px 100px 20px 20px;
}
img{
  width: 15%;
  height: 60%;
  float: left;
  margin-right: 20px;
}
.Cuerpo-Text{

}
