.container{

}

#seccion__header{
background-color: #f8f8f8;
}

ul>li{
  display: inline-block;
  color: #777777;
  font-weight: bold;
  margin-right: 20px;
}
.cam1{
  padding: 15px 0px 10px 0px;
}
.cam2{
  font-size: 28px;
}
.cam3{
  padding-top: 10px;
}
.cam4{
  font-size: 61px;
  font-weight: bold;
}
.cam5{
  padding-top: 15%;
}
.cam6>img{
  width: 450px;
  height: 550px;
}
.cam7{
  width: 100%;
  border-color: white;
}
.cam8{
  font-size: 25px;
}
.cam9{
  background-color: white;
  color: #1abc9c;
  border-radius: 5px;
  border:1px solid #1abc9c;
  font-size: 23px;
  padding: 8px 15px 8px 15px;
}
.Esp{
  margin: 1% 0% 8% 0%;
}
.Lz{
  margin-left: 18%;
  margin-right: 1%;
  padding: 3px;
  background-color: #1abc9c;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
.cam10{
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
}
.cam11{
  text-align: center;
  background-color: white;
  color: #999999;
  font-family: "Arial";
}
.cam12{
  text-align: center;
  width: 100%;
}
.tam1{
  font-size: 13px;
}
.tam2{
  font-size: 35px;
}
.Co1{
  color: #807F7C;
}

#seccion__publish{
  padding: 0% 15% 0% 10%;
}
#seccion__publish{
  background-color: #1abc9c;
  color: white;
}
#seccion__text{
  padding: 2% 22% 2% 22%;
}

.b2{
  background-color: #2195de;
  border: 1px solid #2195de;
  border-radius: 2px;
  color: white;
  padding: 8px 13px 8px 13px;
  font-size: 18px;
  font-family: "Arial";
}
#seccion__copyright{
  padding: 3% 15% 3% 15%;
  background-color: #01c6d6;
}
.A{
  text-align: center;
  color: white;
  margin: 0px 5px 0px 5px;
}
.A>p{
  font-size: 15px;
}
.tv{
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-top: 20px;

}
