
#seccion__menu{
  background-color: #E9E9E9;
}
ul>li{
  display: inline-block;
  margin: 0;
  padding-right: 8px;
}
#menu{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px 0px 1px 120px;
}
.M11{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 5px;
}
#search{
  text-align: right;
  padding: 10px 160px 1px 0px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.C1{
    margin: 0;
}
button{
  background-color: #0088B2;
  margin: 0;
  border: 1px solid #0088B2;
  color: white;
}
#Cont{

  padding: 0px 140px 0px 140px;
}
.mod2{
  padding: 0px 5px 0px 5px;
}
span{
  font-weight: bold;
}
.m3, .m4, .m5, .m6{
  margin-top: 0;
  display: inline-flex;
}
.m3{
  width: 10%;
  border-color: black;
}
.m4{
  width: 90%;
  border-color: #0088B2;
  font-size: 10px;
}
.m5{
  width: 50%;
  border-color: #0088B2;
}
.m6{
  width: 50%;
}
.c1{
  border: 2px solid gray;
}

.c2{
 padding-left: 150px;
}
#info{
    border: 2px solid gray;
}
h1{
  margin-top: 10px;
}
.m1{
  padding: 0;
}
hr{
  color: black;
  width: 100%;
}
#paisaje>img{
  width: 300px;
  height: 250px;
  margin: 0;
}
.p1{
  font-size: 13px;
  color: #8C8F91;
}
.p2{
  color: #8C8F91;
}
.p1> i{
  margin-left: 7px;
}
.b1{
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 8px;
  background-color: #0088B2;
  border: 1px solid #0088B2;
  border-radius: 2px;
}
h6{
  margin: 0;
}
.mdimg{
  width: 100px;
  height: 80px;
  border-radius: 5px;
}
.m10>i{
  font-size: 9px;
  padding: 0;
  color: #FFDC02;
}
.m10{
  text-align: right;
}
.Fb>h2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 35px;
}
