body{
  margin: 0;
}

.container{
  margin: 0 auto;
  background-color: white;
  width: 100%;
  height: 100;
}

.seccion__menu{
  margin: 0;
  background-color: #343a40;
  color: white;
  font-family: "Arial";
  padding: 11px 0px 0px 60px;
  border: 2px solid #515052;
  display: -webkit-box;
}
.Logo{
  padding: 10px 0px 0px 70px;
  margin-right: 53%;
  font-size: 20px;
}
.menu__op{
  text-align: right;
}

ul>li{
  display: inline;
  padding-right: 5px
}
.seccion__content{
  margin-top: 20px;
  padding: 0% 10% 0% 10%;
}

.Busines{
  height: 400px;
  font-family: "Arial";
  padding-right: 30px;
}

.Busines>img{
  width: 800px;
  height: 400px;
  float: left;
  padding-right: 15px;

}

.Busines>h1{
  font-family: "Arial";

}
.Busines>p{
  margin-bottom: 1rem;
  font-size: 17px;
}
.boton{
  text-align: center;
  margin-top: 20px;
  padding: 7px 10px 7px 10px;
  background-color: #2481E3;
  color: White;
  font-family: "Arial";
  border-radius: 3px;
  font-weight: bold;
  border: 2px solid #2481E3;
  margin-bottom: 10px;
  font-size: 15px;
}
.action{
  text-align: center;
  margin-top: 30px;
  padding: 15px 0px 15px 0px;
  background-color: #848687;
  color: White;
  font-family: "Arial";
  border-radius: 2px;
  margin-bottom: 30px
}

.content2{
  margin: 0 auto;
  width: 94.5%;
  margin-bottom: 30px;
  padding: 0px 40px 0px 40px;
}

.seccion__cards{
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.column1{
  width: 26%;
  border:1px solid rgba(0,0,0,.125);
  display: inline-block;
  vertical-align: top;
  font-family: "Arial";
  border-radius: 3px;
  margin: 0px 23px 0px 23px;
}

.Card1{
  text-align: left;
  padding: 0px 15px 0px 10px;
}

.Card__boton{
  border-top: 2px solid rgba(0,0,0,.125);
  width: 100%;
  background-color:  rgba(0,0,0,.03);
  text-align: left;
}

.boton2{
  text-align: center;
  padding: 7px 10px 7px 10px;
  background-color: #007bff;
  color: White;
  font-family: "Arial";
  border-radius: 3px;
  font-weight: bold;
  border: 2px solid #007bff;
  font-size: 15px;
  margin: 20px 0px 20px 20px;
}

.seccion_copyright{
width: 100%;
padding: 50px 0px 50px 0px;
background-color: #515052;
text-align: center;
font-family: "Arial";
color: white;
font-size: 18px;
}
