.container{

}
#Mod1{
}
#Mod2{
  padding: 10px 0px 6px 80px;
  color: #686865;
  font-size: 20px;
}
#Mod3{
  text-align: center;
  padding: 10px 0px 6px 0px;
}
ul>li{
display: inline-block;
margin-right: 20px;
color: #686865;
font-size: 18px;

}
#Cont{
  background-color: #1abc9c;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
}
.Co>img{
  margin: 2% 0% 2% 0%;
}
.Co>p{
  font-size: 20px;
}
#Cont-2{
  background-color: #444444;
  color: white;
  text-align: center;
  padding: 0% 3% 0% 3%;
}
.subcont{
  padding: 2% 0% 2% 0%;
}
.b1{
  background-color: white;
  border: 1px solid white;
  padding: 5px 12px 5px 12px;
  border-radius: 3px;
}
#peda{
  text-align: center;
}
.peda2{
  padding: 4% 0% 4% 0%;
  font-size: 25px;
}
#photos__peda{
  padding-bottom: 3%;
}
.txt{
  text-align: center;
}
h4{
margin: 0 auto;
}
.photo{
  width: 490px;
  height: 275px;
  margin: 0 auto;
}

#seccion__copyright{
  padding: 2% 0% 2% 0%;
  text-align: center;
  background-color: #444444;
  color: white;
  font-size: 20px;
}
