body{
  background-color: grey;
}
.container{
  background-position: center;
  border: 5px solid black;
  width: 600px;
  padding: 50px;
  color: white;
  margin: 0 auto;
}

.header__logo, .header__menu{
  display: inline-block;
}

.header{
  background-color: black;
  margin-bottom: 10px;
}

.header__logo{
}

.header__menu{
  padding: 0;
  float: right;
}
ul>p{
  font-weight: bold;
  font-size: 16px;
}
ul>li{
  display: inline;
  padding: 0px 20px 0px 0px;
}

.content{
  margin-bottom: 10px;
  display:inline-flex;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.column{
  width: 67%;
  text-align: center;
  font-size: 20px;
}
#seccion__articles{
  padding: 0px 2px 0px 2px;
  border-right: 2px solid white;
}
.c2{
  font-size: 10px;
    width: 33%
}
.Column1{
  width: 32%;
}
#seccion__barra{
  text-align: left;
  border-bottom: 2px solid white;
}
.tam{
  width: 95%;
  height: 8%;
}

#seccion__login{
  margin-top: 5px;
  background-color: #717373;
  border-top: 2px solid white;
}
h3{
  margin: 0;
}
.content__paralax{
}

#seccion-inicio{
  background-image: url("../images/dragon_ball_super_special_jiren_vs_goku_tv-681428349-large.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
  color: white  ;
  text-align: center;
  margin-bottom: 10px;
}
.caja{
  height: 30px;
}
.boton{
  background-color: #BEBEBE;
  color: white;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  padding: 0% 3% 0% 3%;
  margin-bottom: 5px;
  height: 4%;
}
.footer{
text-align: center;
display: inline-flex
}
p{
  font-size: 14px;
}
.footer__redes{
    background-position: center;
}
.tam2{
  width: 40%;
  height: 8%;
}
#sep{
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.copyright{
  margin-top: 10px;
  border-top: 2px solid white;
  text-align: center;
}
.copyright>p{
  font-size: 18px;
}
