
.row{
  display: block;
  text-align: center;
  font-size: 0;
}
.cuadrito{
  background-color: white;
  height: 100px;
  width: 100px;
  font-size: 40px;
  display: inline-block;
  color:white;
}
.bg-red{
  background-color: red;
}
.bg-yellow{
  background-color: yellow;
}
.bg-blue{
  background-color: blue;
}
.bg-green{
  background-color: green;
}
