.Container{


  font-size: 80px;
  font-family: "Times New Roman"

}
p{
  display: inline;
}

  body{
   margin: 0;
 }


  #seccion-inicio{
    background-image: url("../images/Dragon-Ball-Super-Episode-116-00002-Goku-Ultra-Instinct.jpg");
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0;
    color: white  ;
    text-align: center;

  }
  .boton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
    font-size: 75%;
    color: #4F4B4B;
    font-family: "Times New Roman";
    padding-left:3%;
    padding-right:3%;
    border: 3px solid white;

}
#seccion-texto{

  text-align: center;
  font-style: oblique;
  color:#595151;

}
